In [53]:
import pandas as pd
import numpy as np

# 1

In [12]:
print(f' Pandas version is {pd.__version__}')

 Pandas version is 1.5.3

In [6]:
df = pd.read_csv('housing.csv')

In [8]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# 2

In [11]:
print(f'the number of columns in the dataframe is {df.shape[-1]}')

the number of columns in the dataframe is 10

# 3

In [29]:
print(f'The null columns are: {list(df.columns[df.isnull().sum() > 0])}')

The null columns are: ['total_bedrooms']

# 4

In [37]:
print(f'the column ocean_proximity has {len(df["ocean_proximity"].value_counts())} unique values')

the column ocean_proximity has 5 unique values

# 5

In [45]:
print(f' The average of `median_house_value` for `ocean_proximity = NEAR BAY` is : {df[df["ocean_proximity"] == "NEAR BAY"]["median_house_value"].mean()}')

 The average of `median_house_value` for `ocean_proximity = NEAR BAY` is : 259212.31179039303

# 6

In [57]:
total_bedrooms_avg = df['total_bedrooms'].mean()

df['total_bedrooms'] = df['total_bedrooms'].fillna(total_bedrooms_avg)

new_total_bedrooms_avg = df['total_bedrooms'].mean()

is_equal = np.isclose(total_bedrooms_avg, new_total_bedrooms_avg, atol = 10**(-3))

print(f'Is the average the same before and after? {is_equal}')

Is the average the same before and after? True

# 7

In [59]:
X = df[df.ocean_proximity == "ISLAND"][['housing_median_age', 'total_rooms', 'total_bedrooms']].values
XTX = X.T@X
inv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])

w = inv@X.T@y
print(w)

[23.12330961 -1.48124183  5.69922946]